<app-search-bar (inputEventEmitter)="changeSearchValue($event)" (inputClearEventEmitter)="clearSearchValue()"></app-search-bar>
<mat-form-field subscriptSizing="dynamic" >
    <mat-label>Campo a buscar</mat-label>
    <mat-select *ngIf="currentRoute in selectOptions" (selectionChange)="changeSearchField($event)">
        <mat-option *ngFor="let option of selectOptions[currentRoute]" value="option.value">{{option.label}}</mat-option>
    </mat-select>
</mat-form-field>
<!-- <mat-form-field subscriptSizing="dynamic" class="range-picker-form"  *ngIf="currentRoute.includes('deudas')">
    <mat-label>Rango de búsqueda</mat-label>
    <mat-date-range-input [rangePicker]="dateRangePicker" [formGroup]="range">
        <input matStartDate placeholder="Start date" formControlName="start" />
        <input matEndDate placeholder="End date" formControlName="end" />
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="dateRangePicker"></mat-datepicker-toggle>
    <mat-date-range-picker #dateRangePicker  disabled="false"></mat-date-range-picker>
</mat-form-field> -->
<button mat-raised-button color="accent" (click)="searchButtonClick()">Search</button>
