@use 'colors' as c;

// :host {
//     display: block;
//     overflow-x: auto;
// }

.clickable-cell {
    cursor: pointer;
}

.clickable-cell:hover{
    color: c.$accent-color;
}

table {
  width: 100%;
}

.table-container {
  height: 62vh;
  overflow: auto;
}

.cell-center {
  text-align: center; /* Centro para todas las celdas */
}

.cell-center:first-child {
  text-align: left; /* Izquierda solo para la primera columna */
}
