<div class="dashboard-container">
  <div class="dashboard-header">
    <h2>Dashboard</h2>
    <button mat-raised-button color="primary" (click)="openDialog()">Open Upload File</button>
  </div>
  <div class="charts-container">
    <div class="chart-wrapper">
      <app-pie-chart
        [data]="pieChartData.data"
        [view]="pieChartData.view"
        [colorScheme]="pieChartData.colorScheme"
      ></app-pie-chart>
    </div>
    <div class="chart-wrapper">
      <app-line-chart [data]="lineChartData" [labels]="lineChartLabels"> </app-line-chart>
    </div>
    <div class="chart-wrapper">
      <app-pie-advanced-chart
        [data]="pieAdvancedChartData.data"
        [view]="pieAdvancedChartData.view"
        [colorScheme]="pieAdvancedChartData.colorScheme"
      ></app-pie-advanced-chart>
    </div>
    <div class="chart-wrapper">
      <app-vertical-bar-chart
        [data]="verticalBarChartData.data"
        [labels]="verticalBarChartData.labels"
        [view]="verticalBarChartData.view"
        [colorScheme]="verticalBarChartData.colorScheme"
      ></app-vertical-bar-chart>
    </div>
  </div>
  <div class="calendar-container">
    <app-calendar [events]="tusEventos" [viewDate]="tuFecha"></app-calendar>
  </div>
</div>
