@import 'colors';

:host {
  width: 100%;
  height: 100%;
  padding: 2em;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  height: 100%;

  .dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .charts-container {
    display: flex;
    gap: 32px;
    height: 50%;
    width: 100%;
    max-height: 360px;
    height: 320px;

    .chart-wrapper {
      width: calc(100% / 4);
      height: 100%;
      border: 1px solid $alternative-base;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s ease-in-out;
      padding: 8px;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      }
    }
  }
  
  .calendar-container {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid $alternative-base;
    width: 100%;
  }
}
