<h2>Perfil de usuario</h2>
<div class="user-image">
  <!-- If we add user images, we should exchange the false for the user url. 
      For now the template will do -->
  <img *ngIf="false; else user_letter" [src]="" id="user-image" />
  <ng-template #user_letter
    ><div><mat-icon>person_outline</mat-icon></div></ng-template
  >
</div>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="field">
    <h3>Username:</h3>
    <mat-form-field>
      <input matInput formControlName="username" />
      <mat-error *ngIf="profileForm.get('name')?.hasError('required')"
        >Username is required</mat-error
      >
    </mat-form-field>
  </div>

  <div class="field">
    <h3>Email:</h3>
    <mat-form-field>
      <input matInput formControlName="email" />
      <mat-error *ngIf="profileForm.get('email')?.hasError('required')"
        >Email is required</mat-error
      >
      <mat-error *ngIf="profileForm.get('email')?.hasError('email')">Invalid email</mat-error>
    </mat-form-field>
  </div>

  <div class="field">
    <h3>Nombre:</h3>
    <mat-form-field>
      <input matInput formControlName="name" />
      <mat-error *ngIf="profileForm.get('name')?.hasError('required')">Name is required</mat-error>
    </mat-form-field>
  </div>

  <div class="field">
    <h3>Apellido:</h3>
    <mat-form-field>
      <input matInput formControlName="lastName" />
      <mat-error *ngIf="profileForm.get('lastName')?.hasError('required')"
        >Apellido es requerido</mat-error
      >
    </mat-form-field>
  </div>

  <div class="button-container">
    <button mat-raised-button color="primary" type="submit" [disabled]="!profileForm.valid">
      Save
    </button>
    <button
      mat-raised-button
      [color]="isEditing ? 'warn' : 'accent'"
      type="button"
      (click)="toggleEdit()"
    >
      {{ isEditing ? 'Cancel' : 'Edit' }}
    </button>
  </div>
</form>
