<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <div class="logo-container">
      <img alt="unibrica logo" class="logo" src="assets/media/alternative-logo.png" />
    </div>

    <hr class="divider" />

    <div class="sidebar-items-container">
      <ul class="sidebar-items-list">
        <li *ngFor="let sidebarItem of sidebarItems">
          <app-sidebar-item [sidebarItem]="sidebarItem" [activatedRoute]="currentRoute"></app-sidebar-item>
        </li>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
        <app-header></app-header>
        <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
